@import "../../node_modules/bootswatch/dist/superhero/variables";
@import "../../node_modules/bootstrap-scss";
@import "../../node_modules/bootswatch/dist/superhero/bootswatch";
@import "../../node_modules/bootswatch/dist/superhero/bootstrap.min.css";

app-score {
    float: right;
    z-index: 1000;
    padding: 2em;
}

app-user {
    float: right;
}
