<img src="../../assets/0ce.png" style="z-index: 1; position:absolute; height:30%; width:100%;margin-top: 5%;" alt="homepage">
<app-news></app-news>
<app-user style="margin-top:5%; right:0; z-index:9999;position:absolute; width: 22% !important;"></app-user>

<div class="gamecontent">
    <div class="card text-center">
        <div class="card-header">
            Welcome to Sleuth
        </div>
        <div class="card-body">
            <h5 class="card-title">Notes from the Admin</h5>
            <p class="card-text">We've recently added some classic games to our expansive library. More to come in the coming weeks as we go full black pearl.</p>
            <p class="card-text">Yo Ho, Mateys</p>
            <p class="card-text">-The Boyz</p>
            <img style="width:3em;" src="../../assets/djleft.png" alt="lildj">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Score Challenges</th>
                        <th scope="col">For The Win</th>
                        <th scope="col">Adventure Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td><a href="/tetris">Gravity Squares</a></td>
                        <td><a href="/pang">Pang</a></td>
                        <td><a href="/sonic">Sanic the HogHedge</a></td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td><a href="/floppy">FloppySquare</a></td>
                        <td><a href="/tictac">TacTic</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td><a href="/donkeykong">Dankey Kang</a></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td><a href="/pacman">Pacman</a></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>


            <a href="/pacman" class="btn btn-primary">Random</a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
</div>
