<img src="../../assets/0ce.png" style="z-index: 1; position:absolute; height:30%; width:100%;margin-top: 5%;" alt="homepage">
<app-news></app-news>
<app-user style="margin-top:5%; right:0; z-index:9999;position:absolute; width: 22% !important;"></app-user>

<div class="gamecontent">
    <div class="card text-center">
        <div class="card-header">
            Welcome to Sleuth
        </div>
        <div class="card-body">
            <h5 class="card-title">Notes from the Admin</h5>
            <p class="card-text">We've recently added some classic games to our expansive library. More to come in the coming weeks as we go full black pearl.</p>
            <p class="card-text">Yo Ho, Mateys</p>
            <p class="card-text">-The Boyz</p>
            <img style="width:3em;" src="../../assets/djleft.png" alt="lildj">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Score Challenges</th>
                        <th scope="col">For The Win</th>
                        <th scope="col">Adventure Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td>Gravity Squares</td>
                        <td>Pang</td>
                        <td>Sanic the HogHedge</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>FloppySquare</td>
                        <td>TacTic</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>Dankey Kang</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>Pacman</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
</div>