.example-card {
	width: 3px;
    align-content: center;
    text-align: center;
    padding: 1rem;
	margin: 1rem;
}



.display {
	background-color: #89abc6;
	text-align: center;
	padding: 1rem;
	margin: 1rem;
}

.box{
	width: 50%;
    align-content: center;
	text-align: center;
	
    padding: 1rem;
	margin: 1rem;
}