/* You can add global styles to this file, and also import other style files */

#Floppycanvas {
    border: 1px solid #000000;
    background-color: #f1f1f1;
}

app-user {
    float: right;
    padding: 2em;
}