
.reset-button{
    background-color: skyblue;
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
  }
.ourboard{
        
    margin-left:30%;
          padding:0;
          size:200%;
        }
        